---
http_interactions:
- request:
    method: post
    uri: https://ec2.ap-southeast-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=TerminateInstances&InstanceId.1=i-e094e03f&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151207T062038Z
      X-Amz-Content-Sha256:
      - 49425530df33c5d2ce5f8e9c477a9fa01bc1a48cba0d205becb046f94685167b
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <TerminateInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>dd3e2501-6807-48ce-b8b7-e84a4a930cff</requestId>
            <instancesSet>
                <item>
                    <instanceId>i-e094e03f</instanceId>
                    <currentState>
                        <code>32</code>
                        <name>shutting-down</name>
                    </currentState>
                    <previousState>
                        <code>16</code>
                        <name>running</name>
                    </previousState>
                </item>
            </instancesSet>
        </TerminateInstancesResponse>
  recorded_at: Mon, 07 Dec 2015 06:20:39 GMT
recorded_with: VCR 2.9.3
