---
http_interactions:
- request:
    method: post
    uri: https://ec2.ap-southeast-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=RunInstances&ImageId=ami-187a247b&InstanceType=t2.micro&KeyName=the_adam&MaxCount=1&MinCount=1&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151207T061951Z
      X-Amz-Content-Sha256:
      - 97015eb8495fe452d0abf11154c8f88ce90e0d3e8b8db7703162b2ff2bd7b9a8
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <RunInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>d489dc7a-a3f9-4369-b1c2-18fd02ac1beb</requestId>
            <reservationId>r-694f58b5</reservationId>
            <ownerId>492770473521</ownerId>
            <groupSet/>
            <instancesSet>
                <item>
                    <instanceId>i-e094e03f</instanceId>
                    <imageId>ami-187a247b</imageId>
                    <instanceState>
                        <code>0</code>
                        <name>pending</name>
                    </instanceState>
                    <privateDnsName>ip-172-31-3-155.ap-southeast-2.compute.internal</privateDnsName>
                    <dnsName/>
                    <reason/>
                    <keyName>the_adam</keyName>
                    <amiLaunchIndex>0</amiLaunchIndex>
                    <productCodes/>
                    <instanceType>t2.micro</instanceType>
                    <launchTime>2015-12-07T06:19:43.000Z</launchTime>
                    <placement>
                        <availabilityZone>ap-southeast-2a</availabilityZone>
                        <groupName/>
                        <tenancy>default</tenancy>
                    </placement>
                    <monitoring>
                        <state>disabled</state>
                    </monitoring>
                    <subnetId>subnet-5ff7683a</subnetId>
                    <vpcId>vpc-d4cd70b1</vpcId>
                    <privateIpAddress>172.31.3.155</privateIpAddress>
                    <sourceDestCheck>true</sourceDestCheck>
                    <groupSet>
                        <item>
                            <groupId>sg-6ec8860b</groupId>
                            <groupName>default</groupName>
                        </item>
                    </groupSet>
                    <stateReason>
                        <code>pending</code>
                        <message>pending</message>
                    </stateReason>
                    <architecture>x86_64</architecture>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping/>
                    <virtualizationType>hvm</virtualizationType>
                    <clientToken/>
                    <hypervisor>xen</hypervisor>
                    <networkInterfaceSet>
                        <item>
                            <networkInterfaceId>eni-f14ccd96</networkInterfaceId>
                            <subnetId>subnet-5ff7683a</subnetId>
                            <vpcId>vpc-d4cd70b1</vpcId>
                            <description/>
                            <ownerId>492770473521</ownerId>
                            <status>in-use</status>
                            <macAddress>02:6f:05:18:b7:c5</macAddress>
                            <privateIpAddress>172.31.3.155</privateIpAddress>
                            <privateDnsName>ip-172-31-3-155.ap-southeast-2.compute.internal</privateDnsName>
                            <sourceDestCheck>true</sourceDestCheck>
                            <groupSet>
                                <item>
                                    <groupId>sg-6ec8860b</groupId>
                                    <groupName>default</groupName>
                                </item>
                            </groupSet>
                            <attachment>
                                <attachmentId>eni-attach-5dfdda63</attachmentId>
                                <deviceIndex>0</deviceIndex>
                                <status>attaching</status>
                                <attachTime>2015-12-07T06:19:43.000Z</attachTime>
                                <deleteOnTermination>true</deleteOnTermination>
                            </attachment>
                            <privateIpAddressesSet>
                                <item>
                                    <privateIpAddress>172.31.3.155</privateIpAddress>
                                    <privateDnsName>ip-172-31-3-155.ap-southeast-2.compute.internal</privateDnsName>
                                    <primary>true</primary>
                                </item>
                            </privateIpAddressesSet>
                        </item>
                    </networkInterfaceSet>
                    <ebsOptimized>false</ebsOptimized>
                </item>
            </instancesSet>
        </RunInstancesResponse>
  recorded_at: Mon, 07 Dec 2015 06:19:52 GMT
- request:
    method: post
    uri: https://ec2.ap-southeast-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&InstanceId.1=i-e094e03f&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151207T061952Z
      X-Amz-Content-Sha256:
      - ee7a8b695b41af8ef783a870f432e7e6d8b5852db9efa6f0fb7024c06da82b9a
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>4f54cad1-3592-4ef3-ab0d-d492f0a88c84</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-694f58b5</reservationId>
                    <ownerId>492770473521</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-e094e03f</instanceId>
                            <imageId>ami-187a247b</imageId>
                            <instanceState>
                                <code>0</code>
                                <name>pending</na[...]
[...]
- request:
    method: post
    uri: https://ec2.ap-southeast-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTags&ResourceId.1=i-e094e03f&Tag.1.Key=Environment&Tag.1.Value=Staging&Tag.2.Key=Role&Tag.2.Value=app&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151207T062038Z
      X-Amz-Content-Sha256:
      - fa4837a66036cb8f7054e02535ab45a4de97711e48441591c8a71883e1a2cf38
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <CreateTagsResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>b405cb3f-3a6b-4a9d-a654-3d73eb2c5e3a</requestId>
            <return>true</return>
        </CreateTagsResponse>
  recorded_at: Mon, 07 Dec 2015 06:20:38 GMT
recorded_with: VCR 2.9.3
