---
http_interactions:
- request:
    method: post
    uri: https://ec2.ap-southeast-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&InstanceId.1=i-914e244e&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151204T043944Z
      X-Amz-Content-Sha256:
      - 03b64aaffb8c456f5e923848eb06daef03f90d9bacf570322095758469623da2
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>3f39eca5-fcb6-4efa-a81d-421b33fcfeb5</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-701c09ac</reservationId>
                    <ownerId>492770473521</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-914e244e</instanceId>
                            <imageId>ami-187a247b</imageId>
                            <instanceState>
                                <code>0</code>
                                <name>pending</name>
                            </instanceState>
                            <privateDnsName>ip-172-31-4-49.ap-southeast-2.compute.internal</privateDnsName>
                            <dnsName/>
                            <reason/>
                            <keyName>the_adam</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t2.micro</instanceType>
                            <launchTime>2015-12-04T04:39:43.000Z</launchTime>
                            <placement>
                                <availabilityZone>ap-southeast-2a</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <subnetId>subnet-5ff7683a</subnetId>
                            <vpcId>vpc-d4cd70b1</vpcId>
                            <privateIpAddress>172.31.4.49</privateIpAddress>
                            <sourceDestCheck>true</sourceDestCheck>
                            <groupSet>
                                <item>
                                    <groupId>sg-6ec8860b</groupId>
                                    <groupName>default</groupName>
                                </item>
                            </groupSet>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping/>
                            <virtualizationType>hvm</virtualizationType>
                            <clientToken/>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet>
                                <item>
                                    <networkInterfaceId>eni-7762d810</networkInterfaceId>
                                    <subnetId>subnet-5ff7683a</subnetId>
                                    <vpcId>vpc-d4cd70b1</vpcId>
                                    <description/>
                                    <ownerId>492770473521</ownerId>
                                    <status>in-use</status>
                                    <macAddress>02:74:4a:40:ac:6b</macAddress>
                                    <privateIpAddress>172.31.4.49</privateIpAddress>
                                    <privateDnsName>ip-172-31-4-49.ap-southeast-2.compute.internal</privateDnsName>
                                    <sourceDestCheck>true</sourceDestCheck>
                                    <groupSet>
                                        <item>
                                            <groupId>sg-6ec8860b</groupId>
                                            <groupName>default</groupName>
                                        </item>
                                    </groupSet>
                                    <attachment>
                                        <attachmentId>eni-attach-c24218fc</attachmentId>
                                        <deviceIndex>0</deviceIndex>
                                        <status>attaching</status>
                                        <attachTime>2015-12-04T04:39:43.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </attachment>
                                    <privateIpAddressesSet>
                                        <item>
                                            <privateIpAddress>172.31.4.49</privateIpAddress>
                                            <privateDnsName>ip-172-31-4-49.ap-southeast-2.compute.internal</privateDnsName>
                                            <primary>true</primary>
                                        </item>
                                    </privateIpAddressesSet>
                                </item>
                            </networkInterfaceSet>
                            <ebsOptimized>false</ebsOptimized>
                        </item>
                    </instancesSet>
                </item>
            </reservationSet>
        </DescribeInstancesResponse>
  recorded_at: Fri, 04 Dec 2015 04:39:44 GMT
[...]
- request:
    method: post
    uri: https://ec2.ap-southeast-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=RunInstances&ImageId=ami-187a247b&InstanceType=t2.micro&KeyName=the_adam&MaxCount=1&MinCount=1&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151204T044018Z
      X-Amz-Content-Sha256:
      - 97015eb8495fe452d0abf11154c8f88ce90e0d3e8b8db7703162b2ff2bd7b9a8
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <RunInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>de4180ac-34ae-477f-b9bd-747766f8dfae</requestId>
            <reservationId>r-f51f0a29</reservationId>
            <ownerId>492770473521</ownerId>
            <groupSet/>
            <instancesSet>
                <item>
                    <instanceId>i-804e245f</instanceId>
                    <imageId>ami-187a247b</imageId>
                    <instanceState>
                        <code>0</code>
                       [...]
[...]
