---
http_interactions:
- request:
    method: post
    uri: https://ec2.ap-southeast-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=TerminateInstances&InstanceId.1=i-914e244e&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151204T044012Z
      X-Amz-Content-Sha256:
      - fe350414313dc978c88eb8d9f2597abf4cb6ff38ed7a8b22a0cdfb7ef3537457
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <TerminateInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>1bcce72a-66a6-46db-b36c-317848a1185d</requestId>
            <instancesSet>
                <item>
                    <instanceId>i-914e244e</instanceId>
                    <currentState>
                        <code>32</code>
                        <name>shutting-down</name>
                    </currentState>
                    <previousState>
                        <code>16</code>
                        <name>running</name>
                    </previousState>
                </item>
            </instancesSet>
        </TerminateInstancesResponse>
  recorded_at: Fri, 04 Dec 2015 04:40:12 GMT
- request:
    method: post
    uri: https://ec2.ap-southeast-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=TerminateInstances&InstanceId.1=i-804e245f&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151204T044059Z
      X-Amz-Content-Sha256:
      - ef6f40dab8f4255444288dfc03d2af9967f21558d33319806987877c82cd7f72
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <TerminateInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>eb07bb12-fe9d-47d9-921a-19b240679d28</requestId>
            <instancesSet>
                <item>
                    <instanceId>i-804e245f</instanceId>
                    <currentState>
                        <code>32</code>
                        <name>shutting-down</name>
                    </currentState>
                    <previousState>
                        <code>16</code>
                        <name>running</name>
                    </previousState>
                </item>
            </instancesSet>
        </TerminateInstancesResponse>
  recorded_at: Fri, 04 Dec 2015 04:41:00 GMT
recorded_with: VCR 2.9.3
