---
http_interactions:
- request:
    method: post
    uri: https://ec2.ap-southeast-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Filter.1.Name=instance-state-name&Filter.1.Value.1=running&Filter.2.Name=tag%3AEnvironment&Filter.2.Value.1=Production&Filter.3.Name=tag%3ARole&Filter.3.Value.1=app&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151207T062038Z
      X-Amz-Content-Sha256:
      - 02d625ecee1ab192a8c957dc89cb6baaa132a63351f2ca1981592ce03a234e30
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>48412e3e-96f0-4c19-8a53-d9776903950d</requestId>
            <reservationSet/>
        </DescribeInstancesResponse>
  recorded_at: Mon, 07 Dec 2015 06:20:38 GMT
- request:
    method: post
    uri: https://ec2.ap-southeast-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Filter.1.Name=instance-state-name&Filter.1.Value.1=running&Filter.2.Name=tag%3AEnvironment&Filter.2.Value.1=Staging&Filter.3.Name=tag%3ARole&Filter.3.Value.1=app&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151207T062038Z
      X-Amz-Content-Sha256:
      - 888b2a3ded69af237b9163c3b8c04fbe3198dd20ae9ee87473e0fe5ba0c71d8d
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>e9f999ec-f203-453b-b10f-88d47ef734b2</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-694f58b5</reservationId>
                    <ownerId>492770473521</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-e094e03f</instanceId>
                            <imageId>ami-187a247b</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-172-31-3-155.ap-southeast-2.compute.internal</privateDnsName>
                            <dnsName>ec2-52-62-79-7.ap-southeast-2.compute.amazonaws.com</dnsName>
                            <reason/>
                            <keyName>the_adam</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>t2.micro</instanceType>
                            <launchTime>2015-12-07T06:19:43.000Z</launchTime>
                            <placement>
                                <availabilityZone>ap-southeast-2a</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <subnetId>subnet-5ff7683a</subnetId>
                            <vpcId>vpc-d4cd70b1</vpcId>
                            <privateIpAddress>172.31.3.155</privateIpAddress>
                            <ipAddress>52.62.79.7</ipAddress>
                            <sourceDestCheck>true</sourceDestCheck>
                            <groupSet>
                                <item>
                                    <groupId>sg-6ec8860b</groupId>
                                    <groupName>default</groupName>
                                </item>
                            </groupSet>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-ccf64a06</volumeId>
                                        <status>attached</status>
                                        <attachTime>2015-12-07T06:19:46.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>hvm</virtualizationType>
                            <clientToken/>
                            <tagSet>
                                <item>
                                    <key>Role</key>
                                    <value>app</value>
                                </item>
                                <item>
                                    <key>Environment</key>
                                    <value>Staging</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet>
                                <item>
                                    <networkInterfaceId>eni-f14ccd96</networkInterfaceId>
                                    <subnetId>subnet-5ff7683a</subnetId>
                                    <vpcId>vpc-d4cd70b1</vpcId>
                                    <description/>
                                    <ownerId>492770473521</ownerId>
                                    <status>in-use</status>
                                    <macAddress>02:6f:05:18:b7:c5</macAddress>
                                    <privateIpAddress>172.31.3.155</privateIpAddress>
                                    <privateDnsName>ip-172-31-3-155.ap-southeast-2.compute.internal</privateDnsName>
                                    <sourceDestCheck>true</sourceDestCheck>
                                    <groupSet>
                                        <item>
                                            <groupId>sg-6ec8860b</groupId>
                                            <groupName>default</groupName>
                                        </item>
                                    </groupSet>
                                    <attachment>
                                        <attachmentId>eni-attach-5dfdda63</attachmentId>
                                        <deviceIndex>0</deviceIndex>
                                        <status>attached</status>
                                        <attachTime>2015-12-07T06:19:43.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </attachment>
                                    <association>
                                        <publicIp>52.62.79.7</publicIp>
                                        <publicDnsName>ec2-52-62-79-7.ap-southeast-2.compute.amazonaws.com</publicDnsName>
                                        <ipOwnerId>amazon</ipOwnerId>
                                    </association>
                                    <privateIpAddressesSet>
                                        <item>
                                            <privateIpAddress>172.31.3.155</privateIpAddress>
                                            <privateDnsName>ip-172-31-3-155.ap-southeast-2.compute.internal</privateDnsName>
                                            <primary>true</primary>
                                            <association>
                                            <publicIp>52.62.79.7</publicIp>
                                            <publicDnsName>ec2-52-62-79-7.ap-southeast-2.compute.amazonaws.com</publicDnsName>
                                            <ipOwnerId>amazon</ipOwnerId>
                                            </association>
                                        </item>
                                    </privateIpAddressesSet>
                                </item>
                            </networkInterfaceSet>
                            <ebsOptimized>false</ebsOptimized>
                        </item>
                    </instancesSet>
                </item>
            </reservationSet>
        </DescribeInstancesResponse>
  recorded_at: Mon, 07 Dec 2015 06:20:38 GMT
- request:
    method: post
    uri: https://ec2.ap-southeast-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&Filter.1.Name=instance-state-name&Filter.1.Value.1=running&Filter.2.Name=tag%3AEnvironment&Filter.2.Value.1=Production&Filter.3.Name=tag%3ARole&Filter.3.Value.1=app&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151207T062038Z
      X-Amz-Content-Sha256:
      - 02d625ecee1ab192a8c957dc89cb6baaa132a63351f2ca1981592ce03a234e30
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>df37c62c-c5db-4b82-8ad7-81ca7a1d92c8</requestId>
            <reservationSet/>
        </DescribeInstancesResponse>
  recorded_at: Mon, 07 Dec 2015 06:20:38 GMT
recorded_with: VCR 2.9.3
